<!-- <main class="container" *ngIf="!formVisible">
    <button class="ajouterBtn" mat-flat-button color="accent" (click)="onAddAssignmentBtnClick()">
        Ajouter Assignment
    </button> -->

<main class="container">
    <div class="ajouterBtn">
        <a>
            <button class="ajouterBtn" mat-flat-button color="accent" [disabled]="!isloggedIn()" routerLink="/add">
                Ajouter Assignment
            </button>
        </a>
    </div>

    <!-- <mat-list *ngFor="let assignment of assignments">
        <nav>
            <a routerLink="/assignments/{{assignment.id}}">
                <h3 mat-subheader>{{assignment.dateDeRendu | date}}</h3>
                <mat-list-item (click)="assignmentClick(assignment)">
                    <p appRendu *ngIf="assignment.rendu; else nonsoumis">
                        Devoir intitulé {{assignment.nom}}, rendu le
                        {{assignment.dateDeRendu | date}}.
                    </p>
                    <ng-template #nonsoumis>
                        Le devoir {{assignment.nom}} n'a pas été rendu.
                    </ng-template>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </a>
        </nav>
    </mat-list> -->

    <table mat-table [dataSource]="this.assignments" matSort (matSortChange)="sortData($event)">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header='ID' sortActionDescription="Sort by ID"> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header='name' sortActionDescription="Sort by names"> Nom </th>
            <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
        </ng-container>

        <!-- Date de Rendu Column -->
        <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header='Date' sortActionDescription="Sort by dates"> Date de Rendu </th>
            <td mat-cell *matCellDef="let element"> {{element.dateDeRendu}} </td>
        </ng-container>

        <!-- Rendu Column -->
        <ng-container matColumnDef="Rendu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header='Rendu' sortActionDescription="Sort by rendu"> Rendu </th>
            <td mat-cell *matCellDef="let element"> {{element.rendu}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
        <tr mat-row (click)="assignmentClick(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator (page)="handlePage($event)" [length]="this.totalDocs" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
        class="mat-paginator-sticky">
        >
    </mat-paginator>

    <!-- <app-assignment-detail [assignmentTransmis]="assignmentSelect"></app-assignment-detail> -->
</main>

<!-- <app-add-assignment *ngIf="formVisible" (nouvelAssignment)="onNouvelAssignment($event)"></app-add-assignment> -->