<div class="container">
    <mat-card *ngIf="assignmentTransmis.nom">
        <mat-card-title>{{assignmentTransmis.nom}}</mat-card-title>
        <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
        <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()" [disabled]="!isloggedIn()">
            Devoir rendu
        </mat-checkbox>

        <button mat-raised-button class="EditBtn" color="primary" (click)="onClickEdit()" [disabled]="!isAdmin()">
            Modifier
        </button>

        <button mat-stroked-button class="DeleteBtn" color="primary" (click)="onDeleteAssignment()" [disabled]="!isAdmin()">
            Supprimer le devoir
        </button>
        <!-- <app-delete-assignment [assignmentToDelete]="assignmentTransmis" (deleteAssignment)="onDeleteAssignment($event)"></app-delete-assignment> -->
    </mat-card>
</div>